<div class="row d-flex flex-column mt-0 mx-auto h-100">
  <h2 class="text-center mb-4">Adding New Restaurant</h2>
    <div class="d-flex flex-column justify-content-between col">
      <%= render 'form', restaurant: @restaurant %>
      <%= link_to 'Back to Home', restaurants_path, class: "me-auto mb-4" %>
    </div>
</div>
