<div class="row d-flex flex-column mt-0 mx-auto h-100">
  <h2 class="text-center my-4">Adding New Restaurant</h2>
    <div class="d-flex flex-column col">
      <%= render 'form', restaurant: @restaurant %>
      <div class="row mb-4 justify-content-center">
        <div class="col-sm-7">
          <%= link_to 'Back to Home', restaurants_path %>
        </div>
      </div>
    </div>
</div>
