/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

header {
  background-color: #333333;
  padding: 1em 0;
}
main {
  flex: 1 1 auto;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: white;
}
.orange-text {
  color: #FF5200;
}
footer {
  bottom: 0;
  background-color: #645F56;
  color: white;
}
.card div {
  height: 260px;
}
.bi {
  display: inline-block;
  vertical-align: -0.125em;
}
