// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#bootstrap-overrides {
  td, a, label, a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.05em;
  }
  p.notice {
    font-weight: bold;
  }
  .btn {
    background-color: #FF5200;
    color: white;
    border-radius: 30px;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 12px;
  }
  a:hover {
    border-radius: 2px;
    background-color: #FF5200;
    color: white;
  }
}
main {
  background-color: #FEE2b3;
}
h2 {
  font-family: 'Playfair Display', serif;
}
.voting {
  background-color: #F5C97E;
}
