// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#bootstrap-overrides {
  td, a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.05em;
  }
}
main {
  background-color: #FEE2b3;
}
